.searchInput {
    width: 70%;
    margin-left: 10px;
    border-radius: 25px;
    height: 20px;
    font-family: Arial, FontAwesome;
    outline: none;
    padding-left: 10px;
    font-size: 18px;
}
